<main class="container">
  <section><%= button_to "Logout", logout_path, class: "btn btn-danger", method: "delete" %></section>
  <section class="messages">
    <h1>All Messages</h1>
  </section>
</main>
