<turbo-frame id="users">
  <div class="modal fade" id="users-modal" tabindex="-1" aria-labelledby="users-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="users-modal">Users</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <section id="online-users">
            <h4>Online users</h4>
            <%= render UserComponent.with_collection(@online_users) %>
          </section>
          <hr>
          <section id="offline-users">
            <h4>Offline users</h4>
            <%= render UserComponent.with_collection(@offline_users) %>
          </section>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
