body {
  background-color: #7fdbff;
}

li {
  list-style-image: url('plane.svg');
}

.home .card {
  border-top: 20px solid $blue-500;
}

.home .card-body {
  li {
    padding: map-get($spacers, 2);
    font-size: 1.3rem;
  }
}

.img-container {
  width: auto;
}

.message {
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
  line-height: 1.1em;
  background-color: white;

  .author {
    font-size: 0.6rem;
  }
}

#messages {
  max-height: 660px;
  overflow: scroll;
}

#messages * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

@media (max-width: 810px) {
  .verify-page {
    flex-direction: column;

    img {
      height: 215px;
    }
  }
}
