body {
  background-color: #7fdbff;
}

li {
  list-style-image: url('plane.svg');
}

.home .card {
  border-top: 20px solid $blue-500;
}

.home .card-body {
  li {
    padding: map-get($spacers, 2);
    font-size: 1.3rem;
  }
}

.img-container {
  width: auto;
}

.message {
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
  line-height: 1.1em;
  background-color: white;

  .author {
    font-size: 0.6rem;
  }
}


#messages * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#load-more {
  margin: 0 auto;
  display: block;
  font-size: .8rem;
}

#all-rooms-list {
  button {
    font-size: .7rem;
  }
}

.flash {
  position: absolute;
  z-index: 100;
  top: 10px;
}

.pulsating {
  animation-duration: 2s;
  animation-name: pulsating;
  animation-iteration-count: 1;
}

.loaded-message {
  div {
    animation-duration: 3s;
    animation-name: marked;
    animation-iteration-count: 1;
  }
}

@keyframes marked {
  from {
    background-color: $orange-100;
  }

  to {
    background-color: white;
  }
}

@keyframes pulsating {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 810px) {
  .verify-page {
    flex-direction: column;

    img {
      height: 215px;
    }
  }
}

@media (min-width: 1200px) {
  #messages {
    max-height: 788px;
    overflow: scroll;
  }

  .flash {
    opacity: 0.89;

    &:hover {
      opacity: 1;
    }
  }
}

